---
import { colGrid, containerGrid, rowGrid } from "../../Utils/ClassGenerator.js";
import { fontSize } from "../../Utils/FontsSizes";

const { title, description, pretitle } = Astro.props;
---

<div class={containerGrid("items-center")}>
    <div class={rowGrid("items-center")}>
        <div class={colGrid("md:w-3/4 mb-16 md:mb-0")}>
            <p class={fontSize(2) + " text-white font-bold mb-3 ff-sora"}>
                {pretitle}
            </p>
            <p class={fontSize(3)  + " font-bold mb-3 color-text ff-sora"} >
                {title}
            </p>
            <p class="text-white text-xs mb-6">
                {description}
            </p>
        </div>
    </div>
</div>
