---
import KeyFigure from "./KeyFigure.astro";
---

<div class="element max-w-screen-xl mx-auto flex flex-wrap  relative ">
    <div class="w-full md:w-1/3 px-3.5 relative text-white ">
        <KeyFigure bigText="12"  smallText="Años desarrollando webs"/>
    </div>
    <div class="w-full md:w-1/3 px-3.5 relative text-white">
        <KeyFigure bigText="9" smallText="Años realizando proyectos Drupal"/>
    </div>
    <div class="w-full md:w-1/3 px-3.5 relative text-white">
        <KeyFigure bigText="3" smallText="Años desarrollando en NextJS"/>
    </div>
</div>
