---
---
<footer class="element max-w-screen-xl mx-auto w-11/12 text-center text-white pt-16 pb-10 border-t border-gray-800">
    <p class="text-xs ff-sora">&copy; {new Date().getFullYear()} Santi López. Todos los derechos reservados.</p>
</footer>