---
import { colGrid, containerGrid, rowGrid } from "../../Utils/ClassGenerator.js";
import {fontSize} from "../../Utils/FontsSizes";

import { Image } from "astro:assets";
import testImage from "../../assets/img/santi-lopez.jpeg";
import Button from "../Buttons/Button.astro";
/*
console.log(Astro.site);
console.log(import.meta.env.BASE_URL);*/
---

<div class={containerGrid("items-center")}>
    <div class={rowGrid("items-center")}>
        <div class={colGrid("md:w-1/2 mb-16 md:mb-0")}>
            <div class="max-w-50">
                <p class={fontSize(2) + " text-white font-bold mb-3 ff-sora"}>
                    Soy Santi López
                </p>
                <p class={fontSize(3)  + " font-bold mb-3 color-text ff-sora"} >
                    Desarrollador Web Full Stack
                </p>
                <p class="text-white text-xs mb-6">
                    Soy un apasionado desarrollador Full Stack con más de 10
                    años de experiencia en PHP, JavaScript y Drupal, además de 3
                    años de experiencia con Next.js (React JS). He trabajado en
                    proyectos de desarrollo web, desde la creación de APIs hasta
                    la implementación de interfaces de usuario. Mi objetivo es
                    seguir aprendiendo y creciendo en el mundo de la tecnología.
                </p>
                {/* <Button label="Hola" link="https://www.google.es" /> */}
            </div>
        </div>
        <div class={colGrid("md:w-1/2 relative")}>
            <div class="marco-img">
                <Image
                    src={testImage}
                    alt="A bird sitting on a nest of eggs."
                />
            </div>
        </div>
    </div>
</div>

<style lang="scss" is:global>
    .marco-img {
        display: flex;
        justify-content: center;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 220px;
            height: 220px;
            border-radius: 50%;
            background: #B592F7;
            background: -o-linear-gradient(
                190deg,
                #B592F7 0%,
                rgba(115, 67, 210, 0) 100%
            );
            background: linear-gradient(
                260deg,
                #B592F7 0%,
                rgba(115, 67, 210, 0) 100%
            );
            -webkit-filter: blur(150px);
            filter: blur(150px);
            margin-left: -5%;
            margin-bottom: -5%;
        }
        img {
            display: inline-block;
            border-radius: 15px;
            -webkit-transform: rotate(4.29deg);
            -ms-transform: rotate(4.29deg);
            transform: rotate(4.29deg);
            position: relative;
            border: 2px solid #B592F7;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
        }
    }
</style>
