---
import { getCollection } from 'astro:content';

import BaseLayout from "../../layouts/BaseLayout.astro";
import List from "../../components/Lists/List.astro";
const blogEntries = await getCollection('proyectos');
import { colGrid, containerGrid, rowGrid } from "../../Utils/ClassGenerator.js";
import Text from '../../components/Text/Text.astro';
import Breadcrumbs from '../../components/Breadcrumbs/Breadcrumbs.astro';
import { getBreadCrumb } from "../../Utils/LinksGenerator";
const currentPath = Astro.url.pathname;
const breadCrumbLinks = getBreadCrumb(currentPath, "Proyectos");
const breadcrumbItems = breadCrumbLinks;
---

<BaseLayout title="Guías básicas" description="">
    <div class={containerGrid("text-white")}>
        <Breadcrumbs items={breadcrumbItems} />
    </div>
    <Text 
        pretitle="Compromiso con el Código" 
        title="Mis Proyectos de Desarrollo: Un Reflejo de Mi Experiencia Técnica" 
        description=" “Bienvenido a mi espacio personal de proyectos de desarrollo. Aquí encontrarás una selección de proyectos en los que he trabajado en mi tiempo libre, cada uno de ellos demostrando mi habilidad y dedicación al desarrollo de software. Desde aplicaciones web hasta scripts útiles, estos proyectos son un testimonio de mi experiencia técnica y mi pasión por resolver problemas complejos a través del código. ¡Espero que encuentres estos proyectos tan interesantes como yo disfruté creándolos!"
    />
    <List items={blogEntries} typeList='proyectos' />
</BaseLayout>

<style lang="scss">
    .banner-top {
        height: 560px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
        margin: 0 4rem 4rem 4rem;
        img {
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;

        }
    }
</style>

